
@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";
}

<input type="hidden" value="@ViewData["UserName"]" id="user-name"/>

<h1>Blah Blah City</h1>

<div class="row">
    <div class="col-md-10">
        <input placeholder="Say something" id="tBoxMsg" class="form-control"/>
    </div>
    <div class="col-md-2 text-right">
        <button id="btnSend" class="btn btn-success">Send message</button>
    </div>
    
    <div class="col-12">
        <ul id="chatList"></ul>
    </div>
</div>

@section Scripts{
    <script src="appScripts.js"></script>
}